h1,
h2,
h3,
h4,
h5,
h6,
p,
.nav-item .nav-link {
  font-family: "Cairo", sans-serif !important;
}
.navbar .nav-item .nav-link {
  font-size: 15px;
}
.quickLinks a {
  font-family: "Cairo", sans-serif !important;
}

#navbar {
  box-shadow: 0 8px 39px 7px rgba(255, 255, 255, 0.07),
    0 10px 13px -6px rgba(0, 0, 0, 0.15);
  direction: rtl;
}
.navbar .mr-auto {
  margin-left: auto !important;
}
.navbar .ml-auto {
  margin: unset !important;
  justify-content: left;
  display: flex;
}
.form-inline {
  padding-right: 1.6rem;
}
.social_1 {
  padding-right: 0.5rem;
}
.baby .row {
  direction: ltr !important;
}
.imgWidth {
  position: absolute;
  right: -145px;
  max-height: 462px;
  overflow: hidden !important;
  top: -18px;
  width: 120.5%;
  left: -10px;
  transform: scaleX(-1);
  z-index: -1;
  overflow: hidden;
}
.introduction h2 {
  line-height: 3rem;
  font-size: 29px;
}
.introduction {
  text-align: right;
}
.tretms .float-right {
  float: left !important;
}
.induction img {
  margin-left: auto;
  display: block;
}
.induction2,
.induction,
.modal-body,
.quickLinks {
  direction: rtl;
  text-align: right;
}
.induction2 h5 {
  padding-right: 2rem;
}
.induction .text-left {
  text-align: right !important;
}
.jumbotron {
  text-align: right;
  direction: rtl;
}
.fRight {
  float: left;
}
.fRight button {
  margin-right: 0.5rem;
}
.contentText {
  direction: rtl;
}
.facility {
  padding-right: 0;
}
.facility .nav {
  direction: rtl;
  padding-left: 1.1rem;
}
.news,
.facily,
.mapSec {
  text-align: right;
  direction: rtl;
}
.news .nav {
  float: right;
}
.footer .links,
.footer {
  direction: rtl;
  text-align: right;
}
.how {
  text-align: right;
  direction: rtl;
}
.sponser {
  direction: rtl;
  text-align: right;
}
.card-header a h5 {
  text-align: right;
  direction: rtl;
}
.card-header a h5 .float-right {
  float: left !important;
}
.card-body .text-left,
.card-body {
  text-align: right !important;
}
.fertility {
  text-align: right;
}
.ourInfo {
  direction: rtl;
}
.hero {
  transform: scaleX(-1);
}
.hero .contentSection {
  transform: scaleX(-1);
  text-align: right;
}
.teamDr {
  direction: rtl;
  text-align: right;
}
.team,
.team .nav {
  direction: rtl;
  padding-right: 0;
}
.tretms,
.fetureRow,
.gynecologySection {
  direction: rtl;
  text-align: right;
}
.gynecologySection .float-right {
  float: left !important;
}
.tab-content {
  text-align: right;
}
.secondPage .card h5 {
  margin-bottom: 0.5rem;
  padding-top: 0.5rem !important;
  line-height: 14px;
}
.secondPage .card p {
  margin-bottom: 0px;
  font-size: 11.5px !important;
  padding-top: 0px !important;
}
.carousel-inner .row {
  direction: ltr !important;
  text-align: right;
}
.carousel-inner .row img {
  float: left !important;
}
.sponser img {
  display: block;
  margin: auto;
}
.btnBook,
.btn-primary,
.btn-outline-light {
  font-size: 16px;
  font-family: Cairo !important;
  padding-top: 0.5rem !important;
}
.three_dots_text {
  direction: rtl;
  text-align: right;
}
.contactUs,
.direcAr {
  direction: rtl;
  text-align: right;
}
.hero .contentSection,
.heroF .contentSection,
.obstetrics .contentSection {
  top: 3rem;
}
/* .vertical-center{
    min-height: 53vh;
} */
.aboutSection img {
  min-height: 192px;
  object-fit: cover;
}
/* .navbar-brand{
    margin-left: 4rem;
} */
.dropdown-item {
  font-family: Cairo;
  text-align: right;
}
.mapAr {
  min-height: 25rem;
}
.navbar-collapse {
  text-align: right;
}
/* .navbar-collapse .navbar-nav{
    margin-left: auto !important;
} */
@media screen and (max-width: 900px) {
  .fRight {
    float: none;
  }
}
@media screen and (max-width: 700px) {
  .imgWidth {
    position: relative !important;
    right: 0;
    /* max-height: 462px; */
    overflow: hidden;
    top: 0px;
    width: 100%;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
  .firstHead div:first .textHeader {
    /* direction: rtl; */
    text-align: right;
  }
}
@media screen and (max-width: 800px) {
  .secondPage .card p {
    font-size: 14px !important;
  }
  .imgWidth {
    right: 0;
    /* max-height: 462px; */
    overflow: hidden;
    top: 0px;
    width: 100% !important;
    left: 0;
    z-index: -1;
    overflow: hidden;
  }
}
@media screen and (max-width: 360px) {
  .secondPage .card p {
    font-size: 13px !important;
  }
}
@media screen and (min-width: 900px) and (max-width: 3600px) {
  .carousel-indicators {
    top: 18.5rem;
  }
}
.navbar-brand {
  margin-right: 0.8rem;
}
@media screen and (max-width: 600px) {
  .navbar-brand {
    margin-right: 0rem;
  }
}

.textHeader {
  direction: rtl;
}
