.swiper-pagination-bullet {
  display: none;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
  position: absolute;
  top: 30px;
  right: 1%;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
  position: absolute;
  top: 30px;
  right: 6%;
  left: unset;
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after,.swiper-button-next:after,.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after{
  content: none;
}
.imgCardNews{
  height: 230px;
  object-fit: cover;
}
@media screen and (max-width:800px){
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    right: 16%;
  }
}